.cake_task_cache
.idea
.svn
.tags
.tags_sorted_by_file
.tm_properties
.project
.buildpath
.settings
.env
.vscode
.DS_Store
.cache

Homestead.json
Homestead.yaml
composer.lock

*.log
*.bak
*.cache

/_notes
/node_modules
/logs
/vendor
/phpunit-coverage
storage/framework/cache